* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
}

nav div {
    display: flex;
    align-items: center;
}

.navimg {
    width: 110px;
    padding: 15px;
}

a {
    text-decoration: none;
}

nav div a {
    padding: 15px;
    color: rgb(101, 101, 101);
}

#blubutton {
    background-color: mediumblue;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    margin-left: 8px;
    border-radius: 2px;
}

#headertwo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 550px;
    background-color: rgba(95, 158, 160, 0.527);
}

/* titolo principale header */
#title {
    display: flex;
    justify-content: center;
    font-size: 55px;
    margin: 30px 0;
    width: 1030px;
    height: 150px;

}

.parefoto {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.rightpar {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
}

.rightpar a {
    color: white;
    background-color: mediumblue;
    width: 195px;
    padding: 5px 10px;
    border-radius: 2px;
    margin-bottom: 30px;
}

.rightpar img {
    cursor: pointer;
    margin-top: 40px;
    width: 50px;
}

.leftimg img {
    width: 670px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    text-align: left;
}

#titlemain {
    font-size: 30px;
    padding: 20px;
    padding-left: 0;
}

.fatturazione {
    display: block;
    padding: 15px 0;
}

.fatturazione > span {
    padding-right: 15px;
}

input {
    margin: 0;
}

.struttpiani {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.struttpiani > div {
    display: flex;
    flex-direction: column;
    margin-right: 30px;

}

.titlepiano {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(128, 128, 128, 0.358);
    border-style: solid;
    border-bottom: none;
    border-width: 2px;
    width: 290px;
    height: 40px;
}

.titlepiano img {
    width: 20px;
    padding: 5px;
}

.piano {
    width: 250px;
    height: 925px;
    border-color: rgba(128, 128, 128, 0.358);
    border-style: solid;
    border-width: 2px;
    padding: 0 20px;
}

.piano img {
    width: 20px;
}

.cadenza {
    color: rgba(128, 128, 128, 0.358);
}

.dettpiano {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
}

.zeromar {
    margin: 20px 10px 5px 0;
}

.provagratis {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color: white;
    background-color: mediumblue;
    margin: 50px 0 30px 0;
    border-radius: 3px;
}

.textsi {
    text-decoration: underline;
}

.hrpiano {
    width: 50px;
    border-color: rgba(128, 128, 128, 0.358);
    margin: 50px 0;
}

.compenso {
    margin-top: 72px;
}


.enterprise {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(128, 128, 128, 0.358);
    border-style: solid;
    border-bottom: none;
    border-width: 2px;
    margin: 40px 29px 0 0;
    width: 938px;
    height: 40px;
}

.enterprise img {
    width: 20px;
    padding: 5px;
}

.teamenter {
    display: flex;
    border-color: rgba(128, 128, 128, 0.358);
    border-style: solid;
    border-width: 2px;
    margin: 0 29px 100px 0;
    width: 898px;
    height: 200px;
    padding: 20px;
}

.space {
    display: flex;
    flex-direction: column;
}

.space h2 {
    margin: 10px 0 15px 0;
}

.space p {
    margin-top: 50px;
}

#contenterprise {
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background-color: mediumblue;
    text-align: center;
    border-radius: 3px;
    width: 200px;
}

.partner {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

#imgpartner {
    width: 600px;
    margin-right: 30px;
}

.parpartner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 300px;
}

.parpartner h2 {
    margin-top: 130px;
}

.trovapartner {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    color: black;
    padding: 10px;
    width: 150px;
    margin-top: 40px;
    
}

.trovapartner:hover {
    background-color: black;
    color: white;
    transition: 500ms;
}