* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
}

header nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 999;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(128, 128, 128, 0.358);
}

.navsx {
    display: flex;
    align-items: center;
}

nav div img {
    width: 110px;
    height: 23px;
    padding: 15px;
}

nav a:hover {
    border-bottom-style: solid;
    border-color: rgb(0, 0, 0);
    transition: 100ms;
    border-bottom-width: 3px;
}

a {
    text-decoration: none;
}

nav div a {
    padding: 15px 15px 27.2px 15px;
    color: rgb(101, 101, 101);
}

#blubutton {
    background-color: mediumblue;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    margin-left: 8px;
    border-radius: 2px;
    border-bottom: none;
}

#headertwo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 620px;
    background-color: rgba(95, 158, 160, 0.527);
}

/* titolo principale header */
#title {
    display: flex;
    justify-content: center;
    font-size: 55px;
    margin: 100px 0 30px 0;
    width: 1030px;
    height: 150px;

}

.parefoto {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.rightpar {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
}

.rightpar a {
    color: white;
    background-color: mediumblue;
    width: 195px;
    padding: 5px 10px;
    border-radius: 2px;
    margin-bottom: 30px;
}

.rightpar img {
    cursor: pointer;
    margin-top: 40px;
    width: 50px;
}

.leftimg img {
    width: 670px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    text-align: left;
}

#titlemain {
    font-size: 30px;
    padding: 20px;
    padding-left: 0;
}

.fatturazione {
    display: block;
    padding: 15px 0;
}

.fatturazione > span {
    padding-right: 15px;
}

input {
    margin: 0;
}

.struttpiani {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.struttpiani > div {
    display: flex;
    flex-direction: column;
    margin-right: 30px;

}

.titlepiano {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(128, 128, 128, 0.358);
    border-style: solid;
    border-bottom: none;
    border-width: 2px;
    width: 290px;
    height: 40px;
}

.titlepiano img {
    width: 20px;
    padding: 5px;
}

.piano {
    width: 250px;
    height: 925px;
    border-color: rgba(128, 128, 128, 0.358);
    border-style: solid;
    border-width: 2px;
    padding: 0 20px;
}

.piano img {
    width: 20px;
    padding-right: 7px;
}

.cadenza {
    color: rgba(128, 128, 128, 0.358);
}

.dettpiano {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
}

.zeromar {
    margin: 20px 10px 5px 0;
}

.provagratis {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    color: white;
    background-color: mediumblue;
    margin: 50px 0 30px 0;
    border-radius: 3px;
}

.mar {
    margin-top: 72px;
}

.textsi {
    text-decoration: underline;
}

.hrpiano {
    width: 50px;
    border-color: rgba(128, 128, 128, 0.358);
    margin: 50px 0;
}

.compenso {
    margin-top: 72px;
}


.enterprise {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(128, 128, 128, 0.358);
    border-style: solid;
    border-bottom: none;
    border-width: 2px;
    margin: 40px 29px 0 0;
    width: 938px;
    height: 40px;
}

.enterprise img {
    width: 20px;
    padding: 5px;
}

.teamenter {
    display: flex;
    border-color: rgba(128, 128, 128, 0.358);
    border-style: solid;
    border-width: 2px;
    margin: 0 29px 100px 0;
    width: 898px;
    height: 200px;
    padding: 20px;
}

.space {
    display: flex;
    flex-direction: column;
}

.space h2 {
    margin: 10px 0 15px 0;
}

.space p {
    margin-top: 50px;
}

#contenterprise {
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background-color: mediumblue;
    text-align: center;
    border-radius: 3px;
    width: 200px;
}

.partner {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

#imgpartner {
    width: 600px;
    margin-right: 30px;
}

.parpartner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 300px;
}

.parpartner h2 {
    margin-top: 130px;
}

.trovapartner {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    color: black;
    padding: 10px;
    width: 150px;
    margin-top: 40px;
    
}

.trovapartner:hover {
    background-color: black;
    color: white;
    transition: 500ms;
}

.titleop {
    display: flex;
    justify-content: flex-start;
    width: 965px;
}

.opdropbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1150px;
    height: 1100px;
    margin-bottom: 150px;
}

.opcella {
    display: flex;
    flex-direction: column;
    width: calc(915px / 3);
    height: calc(1100px / 2);
    margin: 15px;
}

#titleteam {
    display: flex;
    justify-content: flex-start;
    width: 850px;
    font-size: 45px;
    margin-right: 130px;
    margin-bottom: 50px;
}

#anone {
    display: flex;
    justify-content: flex-start;
    text-decoration: underline;
    margin-bottom: 100px;
    width: 850px;
    margin-right: 130px;
}

.contuni {
    display: flex;
    width: 100%;
    height: 427.88px;
}

.colunisx {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30%;
    height: calc(400px / 2);
}

.colunicen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 37%;
    height: 375.76px;
    padding: 40px;
    background-color: rgba(211, 211, 211, 0.388);
}

.colunicen img {
    width: 200px;
}

.colunicen p {
    margin-top: -20px;
    padding-bottom: 20px;
}

.colunidx {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30%;
    height: calc(400px / 2);
}

.celleuni {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: calc(100% / 2);
    height: 227.88px;
}

.celleuni:hover {
    box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 0.496);
    transition: 0.5s;
}

.verdino {
    background-color: rgba(50, 205, 50, 0.664);
}

.bordeaux {
    background-color: rgb(77, 0, 0);
}

.celeste {
    background-color: dodgerblue;
}

.rosso {
    background-color: red;
}

.rossoscuro {
    background-color: rgb(209, 0, 0);
}

.celestino {
    background-color: lightsteelblue;
}

.blu {
    background-color: rgb(0, 0, 96);
}

.giallo {
    background-color: yellow;
}

.celleuni img {
    width: 150px;
    filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(46deg) brightness(103%) contrast(106%);
}

.dropboxbus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: lightsteelblue;
    margin-top: 28px;
}

.bush {
    display: flex;
    flex-direction: column;
}

.dropboxbus h1 {
    color: rgb(77, 0, 0);
    font-size: 35px;
    margin: 0 120px 0 0;
}

.dropboxbus a {
    padding: 5px 30px;
    background-color: white;
    color: black;
    border-radius: 3px;
}

.domandefreq {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.contdomande {
    max-width: 908.2px;
}


.conttitolodomande {
    display: flex;
    justify-content: flex-start;
    font-size: 35px;
    margin-top: 80px;
}

.hrdomande {
    display: flex;
    justify-content: center;
}

.domanda {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px 30px 0;
}

.contdomanda {
    display: flex;
    flex-direction: row;
}

.freccetta {
    padding: 0 30px 0 200px;
    width: 20px;
}

.linkdomanda {
    color: black;
}

.parhover {
    display: none;
}

.domanda:hover .parhover {
    position: absolute;
    position: sticky;
    display: block;
}





footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: black;
}

.contlink {
    display: flex;
    justify-content: center;
}

.colfooter {
    display: flex;
    flex-direction: column;
    width: calc(70% / 5);
    height: 300px;
    color: white;
    margin-top: 40px;
    margin-bottom: 60px;
}

.colfooter a {
    color: white;
    padding-top: 15px;
}

.hrfooter {
    width: 100px;
    border-color: rgba(255, 255, 255, 0.368);
    margin: 0 15%;
}

.lingue {
    margin: 30px 15%;
}

.lingue img {
    width: 15px;
}

.lingue span {
    color: white;
}

.lingue span::after {
    content: "\0302";
    padding: 10px;
}

